$font1: "EB garamond", "serif";
$font2: Basic, sans-serif;
$colorFont: #302D2D;
$colorHome: #75B29C;
$font3: normal;
$font4: center;
$font5: "Arial", "serif";
$contact: rgba(204, 246, 231, 1);

//--------------//
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
.hello{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("img/background.jpg");
  height: 963px;
  color: $colorFont;
  text-align: $font4;
  h1 {
    height: 240px;
    margin: 0;
    margin-left: 20px;
    font-weight: $font3;
    font-family: $font1;
    font-size: 210px;
    position: relative;
    top: 215px;
  }
  a{
    text-decoration: none;
    color: $colorHome;
    font-family: $font5;
    line-height: 2.7em;
  }
  h2{
    font-family: $font2;
    margin: 0;
    font-size: 23px;
    font-weight: lighter;
    position: relative;
    top: 220px;
    left: 10px;
  }
}
.helloimg{
  img{
    position: relative;
    top: 270px;
    left: 10px;
  }
}
.project{
height: 1493px;
  background-color: white;
}

.contact{
  height: 705px;
  background-color: $contact;
}
h3{
  position: relative;
  top: 80px;
  left: 2px;
  margin: 0;
  font-family: $font1;
  color: $colorFont;
  font-size: 19px/1.4em;
  font-weight: $font3;
  text-align: $font4;
}

.eerstep{
  p {
    text-align: $font4;
    font-family: $font5;
    position: relative;
    top: 107px;
    font-size: 14px;
    color: $colorFont;
    line-height: 1.5em;
    margin: 0;
  }
}
#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115px;
  margin: 0 auto;
  position: relative;
  top: 155px;
  left: 8px;
}

.flex-item {
  width: 500px;

}
.tweedep {
  p {
    position: relative;
    top: 188px;
    margin: 0;
    font-family: $font1;
    color: $colorFont;
    font-size: 19px;
    font-weight: $font3;
    text-align: $font4;
  }
}

form{
  position: relative;
  top: 215px;
  text-align: center;
  left: 5px;
}
#name{
  border-width: 1px;
  border-color: rgba(48, 45, 45, 1);
  background-color: rgba(204, 246, 231, 1);
  width: 419px;
  padding: 5px;
  font-size: 0.9em;
  outline: none;
  margin-bottom: 1px;
  resize: none;
  font-family: $font5;
}

#message{
  border-width: 1px;
  border-color: rgba(48, 45, 45, 1);
  background-color: rgba(204, 246, 231, 1);
  width: 419px;
  padding: 5px;
  font-size: 0.9em;
  outline: none;
  margin: 0;
  resize: none;
  font-family: $font5;
}

input[type= email]{
  border-width: 1px;
  border-color: $colorFont;
  background-color: rgba(204, 246, 231, 1);
  width: 419px;
  padding: 5px;
  font-size: 0.9em;
  outline: none;
  margin-bottom: 5px;
  resize: none;
  font-family: $font5;
}

::placeholder{
  color: $colorFont;
}
input[type= submit]{
  width: 42px;
  height: 31px;
  background-color: $colorFont;
  border: 0;
  font-family: $font2;
  font-size: 15px;
  color: white;
  padding: 5px;
  cursor: pointer;
  position: relative;
  left: 192px;
  margin-top: 5px;
  outline: none;
}
.button2{
  text-align: center;
  a {
    img {
      position: relative;
      width: 49px;
      height: 35px;
      top: 250px;
      transform: rotate(180deg);
    }
  }
}
.copyright{
  height: 38px;
  text-align: center;
  font-family: $font5;
  font-size: 12px;
  color: $colorFont;
  position: relative;
  top: 10px;
  left: 5px;
  a{
    text-decoration: underline;
    color: $colorFont;
  }
}

//---------------------------IMAGES -----------------------------//

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13{
position: relative;
  text-align: center;
}
.image1{
  top: 20px;
  left: -300px;
  background-size: cover;
}
